<section>
  <h2>Settings</h2>
  <div class="settings">
    <label>Your Name :</label>
    <input value="<%= user.name %>" readonly />
    <label>Your E-mail :</label>
    <input value="<%= user.email %>" readonly />
    <label>Your Phone No :</label>
    <input value="" placeholder="Not set" readonly />
  </div>
</section>

